/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* Default CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* -webkit-font-smoothing: antialiased; */
}

/* Color Picking */
:root {
  --primary: #3dcfd3;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
}

/* Header Section Styling Start */
header {
  background-color: var(--dark);
  padding-bottom: 5.5rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 80%, 0 100%);
}
.container {
  max-width: 1052px;
  padding: 0 15px;
  margin: 0 auto;
}
header nav {
  padding: 2rem 0;
}
header nav .branding {
  margin-right: 3rem;
}
header nav .left a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: var(--pure);
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
header nav .left a:hover {
  color: var(--primary);
}

/* Hero Section Styling Start */
.hero .left img {
  width: 250px;
}
.hero .right {
  margin-top: -7rem;
  color: var(--pure);
}
.hero .right h6 {
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}
.hero .right h1 {
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.hero .right h1 span {
  color: var(--primary);
}
.hero .right p {
  line-height: 1.9;
  margin-bottom: 1rem;
}

/* About Section Styling Start */
.about {
  padding: 4rem 0;
}
.about .about-img {
  height: 350px;
}
.about h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
}
.about h1 span {
  color: var(--primary);
}
.about h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.about p {
  font-size: 16px;
  color: var(--ternary);
  font-family: "Lato", serif;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.about .social a {
  text-decoration: none;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.6rem;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  transition: all 0.3s ease;
}
.about .social a:hover {
  background-color: var(--primary);
}
.about .social a i {
  font-size: 15px;
  color: var(--pure);
}

/* Services Section Styling Start */
.services {
  background-color: var(--light);
  padding: 3.5rem 0;
}
.services h1 {
  color: var(--dark);
  text-align: center;
  margin-bottom: 1rem;
  line-height: 0.5;
}
.services h1 span {
  color: var(--primary);
}
.services h1 + p {
  color: var(--ternary);
  text-align: center;
  font-family: "Lato", serif;
  margin-bottom: 5.5rem;
}
.services .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 5rem;
}
.services .card-wrapper .card {
  background-color: var(--pure);
  padding: 4rem 1.5rem;
  text-align: center;
  border-radius: 7px;
  box-shadow: 5px 5px 10px var(--dark);
  position: relative;
  transition: all 0.3s ease;
}
.services .card-wrapper .card:hover {
  background-color: var(--dark);
  .img i {
    color: var(--dark);
  }
  h2 {
    color: var(--primary);
  }
}
.services .card-wrapper .card h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.services .card-wrapper .card p {
  font-family: "Lato", serif;
  color: var(--ternary);
  line-height: 1.5;
}

.services .card-wrapper .card .img {
  background-color: var(--primary);
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.services .card-wrapper .card .img i {
  color: var(--dark);
  font-size: 30px;
  padding: 20px;
}

/* Utilities/Common CSS */
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.btn {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
}
.btn-primary {
  background-color: var(--primary);
  color: var(--dark);
  transition: all 0.3s ease;
}
.btn-primary:hover {
  background-color: transparent;
  border-color: var(--primary);
  color: var(--primary);
}
.btn-secondary {
  background-color: transparent;
  border-color: var(--primary);
  color: var(--primary);
  transition: all 0.3s ease;
}
.btn-secondary:hover {
  background-color: var(--primary);
  color: var(--dark);
}
